{
    "jsxSingleQuote": true,
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "requireConfig": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react$",
        "^react",
        "^(?!react-icons)[a-z]",
        "^react-icons",
        "^@(.*)$",
        "^[./](?!.*\\.(css)$)",
        "^[./].*\\.(css)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
